<html ng-app="app">

<head>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
	<style>
		.slider-label {
			margin-right: 1em;
		}
		
		.slider-input {
			width: 5em;
			margin-left: 1em;
		}
	</style>
</head>

<body style="max-height:90vh">
	<div ng-controller="BreathCtrl as ctrl" style="max-height:90vw; max-width:90vh; margin: auto">
		<div layout flex>
			<div layout layout-align="center center">
				<span class="md-body-1 slider-label">Resistance</span>
			</div>
			<md-slider flex aria-label="resistance" ng-model="resistance" min="1" max="4" step="0.1" aria-label="resistance"></md-slider>
			<input class="slider-input" type="number" ng-model="resistance" aria-label="resistance" aria-controls="resistance">
		</div>
		<div layout flex>
			<div layout layout-align="center center">
				<span class="md-body-1 slider-label">Compliance</span>
			</div>
			<md-slider flex aria-label="resistance" ng-model="compliance" min="0.25" max="2" step="0.01" aria-label="compliance"></md-slider>
			<input class="slider-input" type="number" ng-model="compliance" aria-label="compliance" aria-controls="compliance">
		</div>
		<div flex style="padding:1em;max-height:90%">
			<canvas id="canvas" style="width:100%; height:100%;" flex></canvas>
		</div>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
	<script type="text/javascript" src="breathing.js"></script>
</body>

</html>
